.message
    align-self: center
    width: auto
    &__success
        padding:
            top: 10px
            bottom: 10px
            left: 5px
            right: 5px
        border-radius: 8px
        background-color: lightgreen
        color: green
    &__error
        padding:
            top: 10px
            bottom: 10px
            left: 5px
            right: 5px
        border-radius: 8px
        background-color: #F2A3AA
        color: black
    &__ul
        list-style: none
        margin: 0
        padding: 0
            