@font-face {
  font-family: "eurofurence";
  src: url(../fonts/eurof55-webfont.woff2) format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
}

.main-nav {
  height: 130px;
  background-color: #292929;
}
.main-nav__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}
.main-nav__logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.main-nav__logo .logo {
  text-decoration: none;
  font-family: "eurofurence", sans-serif;
  font-size: 3.312rem;
  color: inherit;
}
.main-nav__logo .dot {
  font-family: "eurofurence", sans-serif;
  font-size: 3.312rem;
  color: #58c93a;
}
.main-nav__links {
  display: flex;
  height: 100%;
  align-items: center;
}
.main-nav__links a {
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  height: 100%;
  padding: 49px 38px;
  text-decoration: none;
  color: inherit;
  border-left: 1px solid #1d1d1d;
  border-right: 1px solid #1d1d1d;
}
.main-nav__links a:hover, .main-nav__links a:active {
  border-bottom: 5px solid #58c93a;
  color: #58c93a;
}

.container {
  width: 70%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.blog-image {
  height: 307px;
  width: 470px;
  margin-right: 60px;
}
.blog-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.blog-info {
  display: flex;
  flex-direction: column;
  width: 405px;
}
.blog-info__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: #4f4e4e;
  margin: 0;
}
.blog-info__description {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.66rem;
  color: #606060;
  word-wrap: break-word;
  margin-bottom: 45px;
}
.blog-info__read-more {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  width: 50%;
  padding: 12px 24px;
  color: #c2c2c2;
  border: 2px solid #c2c2c2;
  border-radius: 50px;
}
.blog-info__read-more:hover {
  border-color: #58c93a;
  color: #58c93a;
}

.main-footer {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-footer__title {
  margin-top: 80px;
  color: black;
  font-family: "eurofurence", sans-serif;
  font-size: 3.312rem;
}
.main-footer__title .dot {
  font-family: "eurofurence", sans-serif;
  font-size: 3.312rem;
  color: #58c93a;
}
.main-footer__info p {
  font-family: "Lato", sans-serif;
  font-size: 1.078rem;
  color: #a6a6a6;
}
.main-footer__socials {
  display: flex;
  margin-bottom: 80px;
}
.main-footer__socials .social-link {
  display: block;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #e5e5e5;
  margin-right: 20px;
  padding: 12px 0;
}
.main-footer__socials .social-link img {
  display: inline-block;
}
.main-footer__socials .social-link:hover {
  background-color: #516fad;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-bottom: 30px;
}
.pagination a {
  display: block;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1.49rem;
  color: #818181;
}
.pagination a .arr-left {
  margin-right: 4px;
}
.pagination a .arr-right {
  margin-left: 4px;
}
.pagination a:hover {
  color: #605c5c;
}
.pagination .disabled {
  visibility: hidden;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: black;
}
.post-info__image {
  width: 60%;
  height: 60%;
}
.post-info__title {
  font-size: 3rem;
  margin-bottom: 0;
}
.post-info .post-author {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 5px;
}
.post-info .post-author__name,
.post-info .post-author .post-category,
.post-info .post-author .post-date {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.post-info__content {
  width: 60%;
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: justify;
}
.post-info a {
  text-decoration: none;
  color: black;
}
.post-info a:hover {
  color: #7e7979ee;
}

/*# sourceMappingURL=style.css.map */
